@model VPSA.Models.DenunciaViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="col-md-8 offset-2 mt-2">
    <div class="card">
        <div class="card-header text-white" style="background-color: #2990CA;">
            Cargar Denuncia
        </div>
        <div class="card-body">
            <form asp-action="Create" id="denuncia-form" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="col-md-12">Ordenanza infringida*</label>
                    <select asp-for="TipoDenunciaId" class="form-control inputRequired" asp-items="ViewBag.TipoDenunciaId">
                        <option></option>
                    </select>
                    <span asp-validation-for="TipoDenunciaId" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="col-md-12">Calle</label>
                        <input asp-for="Calle" class="form-control" />
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-md-12">Número</label>
                        <input asp-for="Numero" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12">Entre Calles</label>
                    <input asp-for="EntreCalles1" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="col-md-12">Descripción*</label>
                    <textarea asp-for="Descripcion" class="form-control inputRequired" rows="5" cols="5"></textarea>
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="col-md-12">Infractor</label>
                    <input asp-for="EntreCalles2" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="col-md-12">Adjuntar Imágen</label>
                    <input asp-for="Foto" accept="image/*" />
                    <span asp-validation-for="Foto" class="text-danger"></span>
                </div>
                <hr />
                <div class="form-group text-right">
                    <input type="submit" value="Crear Denuncia" class="btn btn-info">
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
