@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VPSA</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css">

    <style>
        h5 {
            color: #2990CA;
        }

        .img-logo {
            max-height: 40px;
            margin-right: 15px
        }

        .navbar-brand {
            text-align: center;
            color: #2990CA;
        }

        .nav-link {
            color: #2990CA !important;
            font-size: large;
        }

        .btn-outline-custom-Find {
            color: #2990CA;
            background-color: white;
            border-color: #2990CA;
        }

        .btn-outline-custom-Find:hover {
                color: white;
                background-color: #2990CA;
        }

        .btn-outline-custom:hover {
            color: white;
            background-color: #2990CA;
        }
    </style>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-fixed-top navbar-light bg-light bg-white border-bottom shadow-sm">
            <a href="/Home">
                <img class="img-logo" src="data:image/svg+xml;base64,
      PHN2ZyBpZD0iQ2FwYV8xIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA1MTIgNTEyIiBoZWlnaHQ9IjUxMiIgdmlld0JveD0iMCAwIDUxMiA1MTIiIHdpZHRoPSI1MTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGc+PGc+PHBhdGggZD0ibTUwNC41IDQ5N2gtNy41di0yMDBoNy41YzQuMTQyIDAgNy41LTMuMzU3IDcuNS03LjVzLTMuMzU4LTcuNS03LjUtNy41aC0xMjIuMzkzdi0yMi4zNTZsNS4xMDYgMS43MmMzLjgyNiAxLjI5NCA4LjE2NS0uNzQ0IDkuNTAyLTQuNzE0IDEuMzIyLTMuOTI1LS43ODktOC4xNzktNC43MTQtOS41MDFsLTMxLjAwMS0xMC40NDJ2LTUyLjE4OWg3LjVjNC4xNDIgMCA3LjUtMy4zNTcgNy41LTcuNXMtMy4zNTgtNy41LTcuNS03LjVoLTcuNzc4Yy0zLjc1OC01MS4xMzQtNDUuNjE0LTkxLjg0MS05Ny4yMjItOTMuNzg4di0xMC43M2g2MC41YzkuNjQ5IDAgMTcuNS03Ljg1MSAxNy41LTE3LjV2LTMwYzAtOS42NDktNy44NTEtMTcuNS0xNy41LTE3LjVoLTY4Yy00LjE0MiAwLTcuNSAzLjM1Ny03LjUgNy41djY4LjIzMmMtMjEuNzc3LjgzOS00Mi44OTUgOC43MjYtNTkuODQ1IDIyLjQzOC0zLjIyIDIuNjA1LTMuNzE5IDcuMzI4LTEuMTE0IDEwLjU0OCAyLjYwNiAzLjIyMSA3LjMyOSAzLjcyIDEwLjU0OCAxLjExNCAxNS4yOTEtMTIuMzcxIDM0LjU2OC0xOS4xODQgNTQuMjc5LTE5LjE4NGg3LjI2M2M0NS4wOTUgMCA4Mi4yMDYgMzQuNzQ2IDg2LjAyMiA3OC44NjloLTE3OS4zMmMxLjI5Mi0xNS4wNTQgNi40NTYtMjkuMzk3IDE1LjE1Mi00MS44NTkgMi4zNy0zLjM5NyAxLjUzOC04LjA3Mi0xLjg1OS0xMC40NDItMy4zOTctMi4zNjgtOC4wNzEtMS41MzktMTAuNDQzIDEuODU4LTEwLjQ2MiAxNC45OTQtMTYuNTgxIDMyLjMtMTcuOTA1IDUwLjQ0M2gtNy43NzhjLTQuMTQyIDAtNy41IDMuMzU3LTcuNSA3LjVzMy4zNTggNy41IDcuNSA3LjVoNy41djUyLjE4OWwtMzEuMDAxIDEwLjQ0MmMtMy45MjUgMS4zMjItNi4wMzYgNS41NzYtNC43MTQgOS41MDEgMS4zMjMgMy45MjYgNS41NzcgNi4wMzUgOS41MDIgNC43MTRsNS4xMDYtMS43MnYyMi4zNTdoLTEyMi4zOTNjLTQuMTQyIDAtNy41IDMuMzU3LTcuNSA3LjVzMy4zNTggNy41IDcuNSA3LjVoNy41djIwMGgtNy41Yy00LjE0MiAwLTcuNSAzLjM1Ny03LjUgNy41czMuMzU4IDcuNSA3LjUgNy41aDQ5N2M0LjE0MiAwIDcuNS0zLjM1NyA3LjUtNy41cy0zLjM1OC03LjUtNy41LTcuNXptLTI0MS00ODJoNjAuNWMxLjM3OCAwIDIuNSAxLjEyMSAyLjUgMi41djMwYzAgMS4zNzktMS4xMjIgMi41LTIuNSAyLjVoLTYwLjV6bS05Ny41IDE2OS41MThoMTgwdjQ3LjEzN2wtNzQuODM4LTI1LjIwN2MtOS43NzctMy4yOTQtMjAuNTQ1LTMuMjkzLTMwLjMyMyAwbC03NC44MzkgMjUuMjA3em0tMjEuMTA3IDcwLjA3MyAxMDAuNzM0LTMzLjkyOGM2LjY5LTIuMjUyIDE0LjA1OS0yLjI1MSAyMC43NDcgMGwxMDAuNzM0IDMzLjkyOHYyNy40MDloLTIyMi4yMTV6bS00Ny4xNzMgMjQyLjQwOWgtMzcuNzJ2LTMwaDM3Ljcyem0wLTQ1aC0zNy43MnYtMjUuMjI2YzAtMTAuMzk5IDguNDYtMTguODU5IDE4Ljg2LTE4Ljg1OXMxOC44NiA4LjQ2IDE4Ljg2IDE4Ljg1OXptMzAgNDVoLTE1di03MC4yMjZjMC0xOC42Ny0xNS4xODktMzMuODU5LTMzLjg2LTMzLjg1OXMtMzMuODYgMTUuMTg5LTMzLjg2IDMzLjg1OXY3MC4yMjZoLTE1di0xMTguMTA3aDk3Ljcyem0wLTEzMy4xMDdoLTk3Ljcydi02Ni44OTNoNzMuMTk3djE1LjVjMCAxMi40MDYgMTAuMDkzIDIyLjUgMjIuNSAyMi41aDIuMDIydjI4Ljg5M3ptNDYuNTYgMTMzLjEwN2gtMzEuNTZ2LTE2MmgzMS41NjF2MTYyem00OC43NjcgMGgtMzMuNzY3di0xNjJoMzMuNzY3em00Ni41NiAwaC0zMS41NnYtMTYyaDMxLjU2em01My4xMTMgMGgtMzguMTEydi0xNjJoMi4wMDFjNC4xNDIgMCA3LjUtMy4zNTcgNy41LTcuNXMtMy4zNTgtNy41LTcuNS03LjVoLTE2MC45MTJjLTQuMTM2IDAtNy41LTMuMzY0LTcuNS03LjV2LTE1LjVoMjc1LjYwNXYxNS41YzAgNC4xMzYtMy4zNjQgNy41LTcuNSA3LjVoLTY5LjY5NGMtNC4xNDIgMC03LjUgMy4zNTctNy41IDcuNXMzLjM1OCA3LjUgNy41IDcuNWg2LjExMXYxNjJ6bTQ2LjU2IDBoLTMxLjU2di0xNjJoMzEuNTYxdjE2MnptODIuNzIgMGgtMzcuNzJ2LTMwaDM3Ljcyem0wLTQ1aC0zNy43MnYtMjUuMjI2YzAtMTAuMzk5IDguNDYtMTguODU5IDE4Ljg2LTE4Ljg1OXMxOC44NiA4LjQ2IDE4Ljg2IDE4Ljg1OXptMzAgNDVoLTE1di03MC4yMjZjMC0xOC42Ny0xNS4xODktMzMuODU5LTMzLjg2LTMzLjg1OXMtMzMuODYgMTUuMTg5LTMzLjg2IDMzLjg1OXY3MC4yMjZoLTE1di0xMTguMTA3aDk3Ljcyem0wLTEzMy4xMDdoLTk3Ljcydi0yOC44OTNoMi4wMjJjMTIuNDA3IDAgMjIuNS0xMC4wOTQgMjIuNS0yMi41di0xNS41aDczLjE5OHoiIGRhdGEtb3JpZ2luYWw9IiMwMDAwMDAiIGNsYXNzPSJhY3RpdmUtcGF0aCIgc3R5bGU9ImZpbGw6IzI5OTBDQSIgZGF0YS1vbGRfY29sb3I9IiMwMDAwMDAiPjwvcGF0aD48L2c+PC9nPiA8L3N2Zz4=" />
            </a>
            <h5 class="my-0 font-weight-normal">Municipio</h5>
            <h5 class="my-0 mr-md-auto font-weight-bold">VPSA</h5>
            <div class="navbar-collapse collapse nav-content order-2">
                <ul class="nav navbar-nav" style="margin-left: 15%;">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Ordenanzas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Novedades</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle"
                           href="#"
                           id="navbarDropdown"
                           role="button"
                           data-toggle="dropdown"
                           aria-haspopup="true"
                           aria-expanded="false">
                            Servicios
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="margin-left: 500px">
                            <a class="dropdown-item" href="/Denuncias/Create">Denuncia</a>
                            <a class="dropdown-item" href="#">Solicitudes</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Seguimiento de Reclamos</a>
                            <a class="dropdown-item" href="#">Seguimiento de Solicitudes</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Denuncias">Empleados</a>
                    </li>
                </ul>
            </div>
            <div class="ml-auto navbar-collapse collapse nav-content order-3 order-md-3">
                <ul class="ml-auto nav navbar-nav">
                    <li class="nav-item">
                        <form asp-action="View" asp-controller="Denuncias" class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2"
                                   type="search"
                                   placeholder="Buscar Denuncia..."
                                   name="NroDenuncia"
                                   aria-label="Search" />
                            <button class="btn btn btn-outline-custom-Find my-2 my-sm-0" type="submit">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
            <div class="navbar-collapse collapse nav-content order-4 order-md-4">
                @if (SignInManager.IsSignedIn(User))
                {
                    var UserFirstName = User.Claims.FirstOrDefault(x => x.Type == "firstname");
                    var UserLastName = User.Claims.FirstOrDefault(x => x.Type == "lastname");
                    if (UserFirstName != null || UserLastName != null)
                    {
                        <ul class="ml-auto nav navbar-nav">
                            <li class="nav-item">
                                <div class="form-inline">
                                    <i class="fas fa-user-circle" style="font-size: 30px;color: #2990CA;"></i>
                                    @(UserFirstName.Value+" "+ UserLastName.Value)
                                    <form class="form-inline" asp-controller="Account" asp-action="Logout">
                                        <button type="submit" class="btn btn-link text-info">Logout</button>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    }

                }
            </div>
        </nav>
    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <footer class="border-top footer py-2 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; VPSA 2020</p>
            @*&copy; 2020 - VPSAMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
