
@{
    var empleadoList = (IEnumerable<SelectListItem>)ViewData["EmpleadoId"];
    var estadoList = (IEnumerable<SelectListItem>)ViewData["EstadoId"];
}

<div class="modal fade show" id="modal-lg" aria-modal="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#2990CA">
                <h4 class="modal-title text-light">Agregar Nuevo Comentario</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="ComentarioForm">
                <input type="hidden" name="DenunciaId" id="DenunciaId" value="@ViewData["DenunciaId"]" />
                <div class="form-group">
                    <label class="control-label">Trabajo*</label>
                    <textarea name="Descripcion" id="Descripcion" class="form-control inputRequired" rows="5" cols="12"></textarea>
                    <span id="DescripcionValid" class="text-danger inputValidation">*Trabajo es Obligatorio</span>
                </div>
                <div class="form-group">
                    <label class="control-label">Empleado*</label>
                    <select name="EmpleadoId" class="form-control inputRequired" asp-items="@empleadoList">
                        <option></option>
                    </select>
                    <span id="EmpleadoIdValid" class="text-danger inputValidation">*Empleado es Obligatorio</span>
                </div>
                <div class="form-group">
                    <label class="control-label">Estado*</label>
                    <select name="EstadoDenunciaId" class="form-control inputRequired" asp-items="@estadoList">
                        <option></option>
                    </select>
                    <span id="EstadoDenunciaIdValid" class="text-danger inputValidation">*Estado denuncia es Obligatorio</span>
                </div>
                </form>
            </div>

            <div class="modal-footer bg-light">
                <button type="button" class="btn btn-light" style="border-color: grey;" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-info" id="SaveButton">Guardar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>