@model VPSA.Models.Comentario

@{
    ViewData["Title"] = "Edit";
}

<div class="col-md-8 offset-2 mt-2">
    <div class="card">
        <div class="card-header text-white" style="background-color: #2990CA;">
            Ediar Trabajo
        </div>
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Descripcion" class="control-label"></label>
                        <input asp-for="Descripcion" class="form-control" />
                        <span asp-validation-for="Descripcion" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DenunciaId" class="control-label"></label>
                        <select asp-for="DenunciaId" class="form-control" asp-items="ViewBag.DenunciaId"></select>
                        <span asp-validation-for="DenunciaId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EmpleadoId" class="control-label"></label>
                        <select asp-for="EmpleadoId" class="form-control" asp-items="ViewBag.EmpleadoId"></select>
                        <span asp-validation-for="EmpleadoId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EstadoDenunciaId" class="control-label"></label>
                        <input asp-for="EstadoDenunciaId" class="form-control" />
                        <span asp-validation-for="EstadoDenunciaId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

